.navbar{
    background-color: green;
    color: white;
    font-family: algerian, Courier, fantasy;

}
.navbar-brand{
    font-size: 120%;

}
.nav-link{
    background-color: green;
    color: white;
    font-family: algerian, Courier, fantasy;
    font-weight: bold;
}
.nav-link:hover{
    background-color: white;
    color: green;
    font-family: Courier, fantasy;
    font-weight: bold;
}
h1,h2,h3,h4,h5,h6,strong{
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.breadcrumb{
    background-color: green;
}
.btn{
    background-color: green;
    border-color: green;
    color: white;
    font-weight: bolder;
    border-radius: 25px;
}
.btn:hover{
    color: white;
}
table{
    text-align: center;
}
th{
    color: white;
    background-color: green;
    border-style: solid;
}
td{
    text-align: center;
}
.red{
    color: red;
}
.list-group{
    list-style-type: none;
    font-size: 120%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    background-color: green;
}
.list-group-item{
    color: green;
    font-family: serif;
    font-weight: bolder;
}
.list-group-item:hover{
    background-color: green;
    color: white;
    text-decoration: none;
}
.lodge{
    border-style: solid;
    border-width: 5px;
    border-color: green;
}
.page-link{
    text-align: center;
}
.white{
    color: white;
}
.green{
    color: green;
    font-weight: bold;
}
.red{
    color: red;
}
.yellow{
    color: yellow;
    font-weight: bolder;
}
.fa-circle, .fa-check-circle, .fa-times-circle{
    font-size: 150%;
}
.text-dark{
    font-size: 120%;
}
.social_img{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}
.social_img:hover{
    border-radius: 1px;
}
.pre{
    white-space: pre-line;
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
}

footer{
    text-align: center;
    background-color: #222;
}
footer img{
    text-align: center;
    width: 9rem;
    height: 6rem;
    border-radius: 50%;
}
.profile-picture{
    text-align: center;
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
}
footer h3{
    font-family: sans-serif;
}
footer a{
    color: #ddd;
    text-decoration: underline;

}
footer a:hover{
    font-weight: bold;
    color: #dddddd;
}
.share{
    color: blue;
}