{% extends 'base.html' %}
{% load static %}
{% block meta %}<meta name="description" content="Master income where you earn legitimately online">{% endblock %}
{% block ad %}
<script data-ad-client="ca-pub-5355641360242350" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js">
</script> {% endblock %}

{% block title %} {{block.super}} {% endblock %}

{% block breadcrumb %}
ABOUT US
{% endblock %}
{% block content %}
    {% include 'messages.html' %}
<p class="pre">
    Mastersincome is a social news platform where you can read news update from different category of important information, not just a news platform but more, as you can earn from the platform for reading and commenting on the news you read. this idea is to empower the youths and to bring encouragement to us. 
    
    Mastersincome is powered by SODALEX a professional web developer.  
    
    Mastersincome also advertise products and services like every other advertising company which also partner with ads companies like Google, Jumia, Yllix etc.. Whoever that wish to take advantage of earning the opportunity and making money online legitimately as we create the channel for participant to earn residual income on daily and monthly basis.

</p>
{% endblock %}