{% extends 'base.html' %}

{% block title %} {{block.super}}. Advertise {% endblock %}
{% block breadcrumb %}
ADVERTISE WITH MASTER INCOME
{% endblock %}
{% block content %}
<p>
We advertise different products and services on Master income, that's how we earn!!!. <br>
    All members can advertise with their Activities point of #4000,
    Or you message the advertisement department Admin via<br>
    08168541680 <br><br>
For more details
    <br>Non-members can also participate.
    </p>
{% endblock %}