{% extends 'base.html' %}

{% block meta %}<meta name="description" content="Advertise with us on master income">{% endblock %}
{% block ad %}
<script data-ad-client="ca-pub-5355641360242350" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js">
</script> {% endblock %}
{% block title %}  Advertise {% endblock %}
{% block breadcrumb %}
ADVERTISE WITH MASTER INCOME
{% endblock %}
{% block content %}
<p>
We advertise different products and services on Master income, that's how we earn!!!. <br>
    All members can advertise with their Activities point of 1500 points,
    Or you message the advertisement department Admin via<br>
    +2348167541680 (Whatsapp only) <br><br>
For more details
    <br>Non-members can also participate.
    </p>
{% endblock %}