{% extends 'base.html' %}

{% block title %}  Activate account {% endblock %}

{% block breadcrumb %}
Activate Your Account
{% endblock %}

{% block content %}
{% include 'messages.html' %}
<style>
    body{
        background-color: #cfc;
    }
    .form-control{
        background-color: #cfc;
    }
    .form-control:focus{
        background-color: #cfc;
    }
</style>
{% if user.coupon.is_activated is True or user.coupon2.is_activated is True%}
<strong class="red">YOU HAVE ACTIVATED YOUR ACCOUNT ALREADY</strong>

{% else %}
    <form method="post" novalidate>
        <fieldset class="w3-card-4 bg-light border-success ">
            <legend class="bg-success text-center text-light">Activate {{user.username}}'s' account</legend>
        {% csrf_token %}
            <strong class="text-uppercase">Leave the guider bonus as <b class="red text-lowercase"> none </b> if nobody referred you.</strong>
            <strong class="text-uppercase">If you have no coupon, click <a href="{% url 'vendors' %}" class="text-success">here</a> to get one</strong>
    {% include 'widget.html' %}
    
    <input type="submit" value="ACTIVATE ACCOUNT" class="btn btn-block btn-success">
</fieldset>
</form>
</div>
</div>
</div>
</div>



{% endif %}
{% endblock %}
