{% extends 'base.html' %}

{% block title %}  Activate account {% endblock %}

{% block breadcrumb %}
Activate Your Account
{% endblock %}

{% block content %}
{% include 'messages.html' %}

{% if user.coupon.is_activated is True %}
<strong class="red">YOU HAVE ACTIVATED YOUR ACCOUNT ALREADY</strong>

{% else %}
<form method="post" novalidate>
    {% csrf_token %}
        <strong class="text-uppercase">Leave the guider bonus as <b class="red text-lowercase"> none </b> if nobody referred you.</strong>
        <strong class="text-uppercase">If you have no coupon, click <a href="{% url 'vendors' %}">here</a> to get one</strong>
{% include 'widget.html' %}

    <input type="submit" value="ACTIVATE ACCOUNT" class="btn btn-block btn-dark">
    </form>


{% endif %}
{% endblock %}
