{% extends 'base.html' %}

{% block title %} Create Profile {% endblock %}
{% block ad %}
<script data-ad-client="ca-pub-5355641360242350" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js">
</script> {% endblock %}

{% block breadcrumb %}
CREATE A PROFILE NOW
{% endblock %}

{% block content %}
{% include 'messages.html' %}
{% if user.profile_created is not True %}

<strong>Please <b class="red">NOTE THAT:</b>If this form is not submitted or the details submitted are incorrect,
your withdrawal would be declared void.</strong>
<form method="post" enctype="multipart/form-data" novalidate>
    {% csrf_token %}
{% include 'widget.html' %}
    <input type="submit" class="btn btn-block btn-dark" value="UPDATE">
    </form>

{% else %}
<strong class="red">YOU HAVE SUCCESSFULLY UPDATED YOUR PROFILE</strong>
{% endif %}
{% endblock %}