{% extends 'base.html' %}
{% load static %}
{% block title %}  {{user.username}} {{block.super}} Profile{% endblock %}

{% block breadcrumb %}
<small>{{user.username}} PROFILE</small>
{% endblock %}
{% block content %}
    {% include 'messages.html' %}

{% if user.profile.profile_created is not True %}
<div style="padding-left: 1rem; padding-right: 1rem;">
<a href="{% url 'profile_form' %}" class="btn btn-block btn-dark ">Update Profile</a>
{% else %}
<div class="row justify-content-center">

<img class="profile-picture" src="{{user.profile.profile_picture.url}}">
    </div>
{% endif %}
<br>
{% if user.coupon.is_activated is not True %}
<a href="{% url 'coupon_form' %}" class="btn btn-block btn-dark">Activate Account</a>
{% else %}
<table class="table lodge">
    <tr >
        <td><b>ACTIVITIES POINT </b></td>
        <td><b>{{earning.activities_earning_remain}}</b></td>
    </tr>
    <tr>
        <td><b>GUIDER BONUS POINT</b></td>
        <td><b>{{earning.guider_bonus_remain}}</b></td>

    </tr>
</table>

<!-- Button trigger modal -->
<button type="button" class="btn btn-dark text-uppercase" data-toggle="modal" data-target="#exampleModal">
  conversion - rate
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">WEEKLY CONVERSION RATE</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        1500 will be deducted from your activities point.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div><br><br>

<ul class="list-group" >
    <li><a href="{% url 'withdrawal_form' %}" class="list-group-item" style=" border-radius: 20%; border-bottom-color: green; border-style: dashed;">WITHDRAWAL</a></li>
    <li><a href="{% url 'payment_status' %}" class="list-group-item" style=" border-radius: 20%; border-bottom-color: green; border-style: dashed;">PAYMENT STATUS</a></li>
    <li><a href="{% url 'support_form' %}" class="list-group-item" id="support" style=" border-radius:20%; border-bottom-color: green; border-style: dashed;">SUPPORT</a></li>
    <li><a href="{% url 'sponsored-post-home' %}" class="list-group-item" style=" border-radius: 20%; border-bottom-color: green; border-style: dashed;">SPONSORED POSTS</a></li>
</ul>
{% endif %}
<br>
<br>
<h3>PROFILE DETAILS</h3>
<p> Submitted incorrect information? we've got you covered, Contact our <a href="{% url 'support_form' %}"><b>SUPPORT</b></a> channel to help you out</p>
<table class="table table-bordered table-hover table-striped table-responsive">
    <tr>
        <td>Full Name</td>
        <td>{{user.first_name|title}} {{user.last_name|title}} </td>
    </tr>
    <tr>
        <td>Username</td>
        <td>{{user.username}}</td>
    </tr>
    <tr>
        <td>Email Address</td>
        <td style="padding: 20px; ">{{user.email}}</td>
    </tr>
    <tr>
    <td> Created Post Approved</td>
        <td>{{post}}</td>

    </tr>
    <tr>
        <td>Phone Number</td>
        <td>{{user.profile.phone_number}}</td>
    </tr>
    <tr>
        <td>Facebook Link</td>
        <td>{{user.profile.facebook_link}}</td>
    </tr>
    <tr>
        <td> Bank Name</td>
        <td>{{user.profile.bank_name}}</td>
    </tr>
    <tr>
        <td>Account Name</td>
        <td>{{user.profile.account_name}}</td>
    </tr>
    <tr>
        <td>Account Number</td>
        <td>{{user.profile.account_number}}</td>
    </tr>
</table>

</div>
{% endblock %}

{% block carousel %}
<strong style="font-family: 'Courier New', Courier, monospace; font-size: 150%;;" >FEATURED IMAGE</strong>
<div class="container">
 <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
   <ol class="carousel-indicators">
     <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
     <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
     <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
   </ol>
   <div class="carousel-inner">
     <div class="carousel-item active">
       <img class="d-block w-100" style="height: 20rem; width: 18rem;" src="{% static 'img/featured1.jpg' %}" alt="featured image">
     </div>
     <div class="carousel-item">
       <img class="d-block w-100"  style="height: 20rem; width: 18rem;" src="{% static 'img/featured2.jpg' %}" alt="featured image">
     </div>
   </div>
   <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
     <span class="carousel-control-prev-icon" aria-hidden="true"></span>
     <span class="sr-only">Previous</span>
   </a>
   <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
     <span class="carousel-control-next-icon" aria-hidden="true"></span>
     <span class="sr-only">Next</span>
   </a>
 </div>
 </div>
 
{% endblock %}