{% extends 'base.html' %}

{% block title %} {{block.super}} TOS {% endblock %}
{% block ad %}
<script data-ad-client="ca-pub-5355641360242350" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js">
</script> {% endblock %}

{% block breadcrumb %}
MASTER INCOME TERMS OF SERVICE
{% endblock %}


{% block content %}
<strong class="text-uppercase">Introduction</strong><br><br>
<p>

The following Terms and Conditions control your membership on Master Income Program.
    You agree that you have read and understand this Agreement (“Agreement”) and that your membership on Master Income Program
    (the “Program”) shall be subject to the following Terms and Conditions between you (the “Member”) and Master Income Program.
     These Terms and Conditions may be modified at any time by Master Income Program Administrative.<br><br>

Please review them from time to time since your ongoing use is subject to the terms and conditions as modified.
    Your continued participation in Master Income Program after such modiﬁcation shall be deemed to be your acceptance of
    any such modiﬁcation. If you do not agree to these Terms and Conditions, please do not register to become a
    member of Master Income Program.<br><br>


<strong class="text-uppercase">Terms of Participation</strong><br>
Member must be 18 years of age or older to participate. Members must provide Master Income Program with accurate, complete and updated registration information, including an accurate name, mailing address and email address.
To the full extent allowed by applicable law, Master Income Program at its sole discretion and for any or no reason may refuse to accept applications for membership.
Members may not
</p>
    <ol>
    <li> activate or use more than one Member account;</li>
    <li> select or use an Email Address of another person;</li>
    <li> use a name subject to rights of another person without authorization from that person;</li>
    <li> use a false or misleading name (Except for privacy), mailing address, or email address to activate or use a Member account.</li>
</ol>
<p>
By signing up for the Master income Program, member is opting-in to start receiving update via email sometimes
Master Income Program reserves the right to track Member’s activity by both IP Address as well as individual browser activity.<br><br>

<b>Member agrees not to abuse his or her membership privileges by acting in a manner inconsistent with this Agreement.<br>
Member agrees not to attempt to earn through other than legitimate channels authorized by Master Income Program.<br>
Member agrees not to participate in any fraudulent behavior of any kind.<br><br></b>
<strong class="text-uppercase">Spamming is strictly prohibited.</strong><br>

Any spamming done to advertise Master Income Program will result in immediate termination of your account and a forfeiture of your account earning balance. Incidents will be dealt with on a case by case basis.
<br><br>
<strong class="text-uppercase">Refund Policy.</strong><br>
We do not generally issue refund after the successful registration of membership or purchasing of our registration e-pin / coupon code. Please note that by making payment for membership, you agree to the terms of the Refund Policy.  NO REFUND.
<br><br>

<strong class="text-uppercase">Withdrawal, Payment or Cash Out</strong><br>
Kindly note that aﬃliate / referral commissions are paid out in cash withing 24-48 hours. When you have earned up to 1,500 points minimum threshold and above in your wallet, you can request for withdrawal and you will get paid without any delay.  
 Member’s discontinued participation in the Master Income Program or failure to notify Master Income Program of any address (mailing or email) changes may result in the termination of Member’s membership and forfeiture of Member’s unredeemed Earnings.
Member shall comply with all laws, rules, and regulations that are applicable to member. Member acknowledges that Member may only participate in Master Income Program if and to the extent that such participation is permitted by such laws, rules, and regulations.
If member objects to any of the Terms and Conditions of this Agreement, or any subsequent modiﬁcations to this agreement, or becomes dissatisﬁed with the Program, Member’s only recourse is to immediately discontinue participation in Master Income Program and properly terminate his or her membership.
</p>
{% endblock %}